html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.grid > article{
  transition: transform 0.3s;
}

div.grid > article:hover{
  transform: scale(1.1);
  cursor: pointer;
}
